<h2 class="titulo">Servicios</h2>

<div class="toolbar">
  <button class="btn verde" (click)="mostrarFormulario()">Nuevo Servicio</button>
</div>

<div *ngIf="formVisible" class="formulario">

  <h3>{{ editando ? 'Editar Servicio' : 'Nuevo Servicio' }}</h3>

  <div class="grid-form">
    <input type="text" placeholder="Nombre" [(ngModel)]="servicio.nombre">
    <input type="number" placeholder="Precio" [(ngModel)]="servicio.precio">
    <input type="number" placeholder="Duración (minutos)" [(ngModel)]="servicio.duracionMinutos">
  </div>

  <button class="btn guardar" (click)="guardar()">Guardar</button>

</div>

<div class="tabla-container">

<table>

<tr>
  <th>ID</th>
  <th>Nombre</th>
  <th>Precio</th>
  <th>Duración</th>
  <th>Acciones</th>
</tr>

<tr *ngFor="let s of servicios">
  <td>{{s.id}}</td>
  <td>{{s.nombre}}</td>
  <td>{{s.precio}}</td>
  <td>{{s.duracionMinutos}} min</td>
  <td>
    <button class="btn editar" (click)="editar(s)">Editar</button>
    <button class="btn eliminar" (click)="eliminar(s.id)">Eliminar</button>
  </td>
</tr>

</table>

</div>
