<div style="display:flex;height:100vh">

  <!-- SIDEBAR -->
  <div style="width:220px;background:#334155;color:white;padding:20px">

    <h3>Sistema ARIS</h3>

    <ul style="list-style:none;padding:0">

      <li style="margin-bottom:10px" *ngIf="rol === 'ADMIN'">
        <a routerLink="/dashboard" style="color:white;text-decoration:none">
          Dashboard
        </a>
      </li>

      <li style="margin-bottom:10px" *ngIf="rol === 'ADMIN'">
        <a routerLink="/usuarios" style="color:white;text-decoration:none">
          Usuarios
        </a>
      </li>

      <li style="margin-bottom:10px" *ngIf="rol === 'ADMIN'">
        <a routerLink="/productos" style="color:white;text-decoration:none">
          Productos
        </a>
      </li>

      <li style="margin-bottom:10px">
        <a routerLink="/clientes" style="color:white;text-decoration:none">
          Clientes
        </a>
      </li>

      <li style="margin-bottom:10px" *ngIf="rol === 'ADMIN'">
        <a routerLink="/servicios" style="color:white;text-decoration:none">
          Servicios
        </a>
      </li>

      <li style="margin-bottom:10px">
        <a routerLink="/citas" style="color:white;text-decoration:none">
          Citas
        </a>
      </li>

      <li style="margin-bottom:10px">
        <a routerLink="/ventas" style="color:white;text-decoration:none">
          Ventas
        </a>
      </li>

      <li *ngIf="rol === 'ADMIN'">
        <a routerLink="/reportes">Reportes</a>
      </li>


    </ul>

  </div>

  <!-- CONTENIDO -->
  <div style="flex:1;padding:20px">
    <router-outlet></router-outlet>
  </div>

</div>

