<div class="sidebar">

  <!-- LOGO -->
  <div class="logo">
    <img src="assets/logo.png" alt="logo">
    <h3>Sistema ARIS</h3>
  </div>

  <!-- MENU -->
  <ul class="menu">

    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/usuarios">Usuarios</a></li>
    <li><a routerLink="/productos">Productos</a></li>
    <li><a routerLink="/clientes">Clientes</a></li>
    <li><a routerLink="/servicios">Servicios</a></li>
    <li><a routerLink="/citas">Citas</a></li>
    <li><a routerLink="/ventas">Ventas</a></li>
    <li><a routerLink="/reportes">Reportes</a></li>

  </ul>

  <!-- REDES -->
  <div class="redes">
    <a href="#" target="_blank">Instagram</a>
    <a href="#" target="_blank">TikTok</a>
  </div>

</div>
