<div style="width:220px;background:#334155;height:100vh;color:white;padding:20px">

  <h3>Sistema ARIS</h3>

  <ul style="list-style:none;padding:0">

    <li style="margin-bottom:10px">
      <a routerLink="/dashboard" style="color:white;text-decoration:none">
        Dashboard
      </a>
    </li>

    <li style="margin-bottom:10px">
        <a routerLink="/usuarios" style="color:white;text-decoration:none">
          Usuarios
        </a>
      </li>


    <li style="margin-bottom:10px">
      <a routerLink="/productos" style="color:white;text-decoration:none">
        Productos
      </a>
    </li>

    <li style="margin-bottom:10px">
      <a routerLink="/clientes" style="color:white;text-decoration:none">
        Clientes
      </a>
    </li>

    <li style="margin-bottom:10px">
      <a routerLink="/servicios" style="color:white;text-decoration:none">
        Servicios
      </a>
    </li>

    <li style="margin-bottom:10px">
      <a routerLink="/citas" style="color:white;text-decoration:none">
        Citas
      </a>
    </li>

    <li style="margin-bottom:10px">
      <a routerLink="/ventas" style="color:white;text-decoration:none">
        Ventas
      </a>
    </li>

    <li style="margin-bottom:10px">
      <a routerLink="/Reportes" style="color:white;text-decoration:none">
        Reportes
      </a>
    </li>


  </ul>

</div>
